rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Default deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Departments
    match /departments/{departmentId} {
      allow read, write: if true;
    }

    // Employees
    match /employees/{employeeId} {
      allow read, write: if true;
    }

    // Payrolls
    match /payrolls/{payrollId} {
      allow read, write: if true;
    }

    // Attendances
    match /attendances/{attendanceId} {
      allow read, write: if true;
    }

    // System Users
    match /users/{userId} {
      allow read, write: if true;
    }

    // Settings (Dashboard & Currency)
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}

